{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Добро пожаловать!</h1>
    </div>

    {% if form.errors %}
        <p class="text-danger">Неверное имя или пароль</p>
    {% endif %}
	<table align=center >
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
	<tr><td align=right><h4>Почта:</h4></td><td>{{ form.username }}</td></tr>
    <tr><td align=right><h4>Пароль:</h4></td><td>{{ form.password }}</td></tr>
	<tr><td colspan="2" align=center><input type="submit" class="btn btn-primary" value="Вход"></td></tr>
    </form>
	</table>
    <p><a class="text-muted" href="{% url 'password_reset' %}">
        <span class="glyphicon glyphicon-question-sign "></span> Забыли пароль?</a>
    </p>

	<p><big>Если у вас нет учетной записи - создайте аккаунт
	<a href="{% url "register" %}"><i>здесь</i></a></big>
	</p>

{% endblock content %}