*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;max-height:1000000px;} html{width:100%;min-height:100%;max-height:1000000px;} body{width:100%;margin:0;padding:0;min-height:400px;min-height:100vh;overflow-y:scroll;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-family:-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;position:relative;} input,textarea{outline:none;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;} H1,H2,H3,H4,H5,H6,p,a,hr,ul,li{margin:0;padding:0;color:#000000;text-decoration:none;} ul,li{list-style:none;} button:focus{outline:none;} input[type=text],input[type=submit],textarea{-moz-appearance:none;-webkit-appearance:none;} input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill,textarea:-webkit-autofill,textarea:-webkit-autofill:hover,textarea:-webkit-autofill:focus,select:-webkit-autofill,select:-webkit-autofill:hover,select:-webkit-autofill:focus{ -webkit-text-fill-color:#949494 !important;-webkit-box-shadow:0 0 0px 1000px transparent inset;transition:background-color 5000s ease-in-out 0s;background:-webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(0,174,255,0.04) 50%,rgba(255,255,255,0) 51%,rgba(0,174,255,0.03) 100%);color:#949494;} a:active:focus,a:focus,button:active:focus,button:focus{outline:0 !important;outline-color:transparent !important;outline-width:0!important;outline-style:none !important;box-shadow:0 0 0 0 rgba(0,123,255,0) !important;} button::-moz-focus-inner{border:0 !important;} //Для фикса float-ов .row:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;} .row { display:inline-block;} * html .row { height:1%;} .row { display:block;} .form-wrapper{text-align:left;position: relative; display: table;/*max-width:480px;*/ margin:0; padding:15px 0; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; border:none;width:100%; } .act-form{width:100%; /*display:table;*/ position: relative;} .act-form-fixed{max-width:480px;margin:0 auto;} .act-alert{ text-align: center; padding: 2.5px; color: red; } .form-row{display:inline-block;} .act-form label{ margin: 0 0 5px; display: block; color: #5f5f5f; text-align: left; font-size: 16px; font-weight:bold; } .act-form input,.act-form select{ padding: 10px 15px; font-size: 15px; text-align: left; margin: 0 0 10px; display: block; position: relative; border:2px solid #dedede; border-radius: 5px; width: 100%; background: transparent; font-weight:bold;} .act-form input[type=button],.act-form input[type=submit],.act-form input[type=reset]{ text-align: center; background: #184371; color: white; border:2px solid #184371; margin: 20px 0 0; cursor: pointer;font-weight:bold; } .act-form a{ display: table; padding: 0; font-size: 15px; letter-spacing: 0.5px; margin: 15px 0 0; color: #7d7d7d; width: 100%; text-align: center; } .act-form p{ padding: 5px 0 0; font-size: 15px; letter-spacing: 0.5px; color: #292929; } .act-form p a{ font-weight: bold; letter-spacing: 0.5px; margin: 0; display: inline; } td img{width:auto;height:100px; }
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
vertical-align:middle;text-align:center;border-top:none;border-bottom:1px solid #ddd;
}
H1{font-size:30px;}
.lkb{background: #0064ab;}
.loginb{background:#0bb760;border-color:#000;}
.logoutb{background:#b70b0b;border-color:#000;}
button,input,select,textarea{font-size:15px;vertical-align:middle;line-height:normal;}
.no-result{width:100%;min-height:50%;display:table;}
.no-result H2{font-size:16px;display:table-cell;vertical-align:middle;}
input::-webkit-input-placeholder {color:#c3c3c3;transition:.5s;text-shadow:none;}
input:-moz-placeholder {color:#c3c3c3;opacity:1;transition:.5s;text-shadow:none;}
input::-moz-placeholder {color:#c3c3c3;opacity:1;transition:.5s;text-shadow:none;}
input:-ms-input-placeholder {color:#c3c3c3;transition:.5s;text-shadow:none;}
input::-ms-input-placeholder{color:#c3c3c3;transition:.5s;text-shadow:none;}
input::placeholder {color:#c3c3c3;transition:.5s;text-shadow:none;}
input:focus::placeholder{color:#c7c7c7;transition:.5s;opacity:0.6;text-shadow:none;}
input:focus::-webkit-input-placeholder{color:#c7c7c7;transition:.5s;opacity:0.6;text-shadow:none;}

.equip-graph{
position:relative;
top:25px;
}
.main-menu-wrapper{
position: relative;
    display: table;    
    margin:0 auto;    
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;     
    text-align: left;    
    text-align: center;
}
.main-menu-block {
    display: inline-block;
    position: relative;
    min-width: 300px;
    height: 200px;
    padding: 10px;
    vertical-align: top;
}
.inner-main-menu-block {
position: relative;
    height: 100%;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
}
.inner-main-menu-block a {
position: relative;
    bottom: 0;
    text-align: center;
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.5px;
    padding: 10px 0;
    height: 100%;
}
.inner-main-menu-block img{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    margin-top: -70px;
}
.inner-main-menu-block a span{
 position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    display: block;
    padding: 10px;
    background: #005998;
color:#FFF;
	}

.moreinfa{font-weight:bold;font-size:14px;}
.moreinf{
display:inline-block;
padding:15px 10px;
background: #0060c7;
color:#FFF;
font-weight:bold;
font-size:14px;
 -moz-border-radius: 5px;
 -webkit-border-radius: 5px;
 border-radius: 5px;
}
.table>thead>tr>th:first-child{
-moz-border-radius:10px 0 0 0;
-webkit-border-radius:10px 0 0 0;
border-radius:10px 0 0 0;
}
.table>thead>tr>th:last-child{
-moz-border-radius:0 10px 0 0 ;
-webkit-border-radius:0 10px 0 0 ;
border-radius:0 10px 0 0 ;}
.table>thead>tr>th{
border-bottom:none;
background: #7b7b7b;
color:#fff;
}
tbody tr:hover {
    background: #f5f5f5;
}
thead tr{
    height:50px;
    font-size:15px;
}

/*
.table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    position: relative;
  top:35px
}

tbody{
display: inline-table;
    width: 100%;
}


thead{
    color: #003063;
    text-align: center;
    position:absolute;    
  top:-35px;
    padding:0;
    width: 100%;
    left: 0;
    z-index:9999;
}

thead tr{
    background: #E0E0E0;
    padding: 10px;
    display: inline-table;
    width: 100%;
    height:50px;
    font-size:15px;
}
*/

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
     margin-right:0;
     margin-left:0;
}
.container-fluid{padding:0;vertical-align: middle;
    display: table-cell;}

.pz-header {
    width: 100%;
    height: 101px;
    position: relative;
    background-color: white;
    z-index: 10;
}

.pz-blue-line {
    width: 100%;
    height: 15px;
    position: absolute;
    top: 53px;
    left: 0px;
    background: linear-gradient(90deg, white, #003063);
}
.footer-pz-logo-osk{
    position: relative;
    top: 18px;
    left: 40px;
    display: inline-block;
    top: 0;
}
.footer-pz-logo{
position: absolute;
    top: 15px;
    left: 138px;}
.pz-logo {
    position: absolute;
    top: 27px;
    left: 138px;
position: relative;
    left: 0;
    top: 1px;
    float: left;
    padding: 0 10px;
}

.pz-logo-osk {
    position: absolute;
    top: 18px;
    left: 40px;
}

.navbar {
    margin-bottom: 0px;
}
.nav>li{
    display:inline-block;
    border-radius: 5px;
border:1px solid;
/*    background: #484848;*/
}
.navbar-header{
	display:table;
	width:100%;
}

.navbar-default {
    background-color:#313131;
    border-color: #313131;
    min-height: 32px !important;
}
.navbar-brand{height:auto;}
.navbar-default .navbar-brand {
    color:#FFF;/*#003063;*/
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color:#FFF;
}

.navbar-nav > li > a {
    color:#FFF;
	font-weight:bold;
	font-size:15px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.page-header {
    padding-bottom:0;
    margin:0 0 20px;
padding-bottom: 30px;
margin:10px 0 0;
    border:none;
/*border-bottom: 1px solid #d2d2d2;*/
}

.page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.toggled-pane {
    width: 100%;
    height: 250px;
    'background-color: #bbccdd;
}

/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body {
  overflow-x: hidden;
}

.footer{
    padding: 10px 0;
    position: relative;
    background: #f7f7f7;
/*    -webkit-box-shadow: 0 -2px 5px #bfbfbf;
    -moz-box-shadow: 0 -2px 5px #bfbfbf;
    box-shadow: 0 -2px 5px #bfbfbf;
*/
    border-top: 1px solid #d6d6d6;}

#wrapper {
  padding-left: 0;
  padding-top: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
min-height:calc(100vh - 80px);
position:relative;
}

#wrapper.toggled {
  padding-top:115px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left:0;
  width:100%;
/*  height:56px;*/
background:#005998;/*#003063;#0072e8;*/
/*
 -webkit-box-shadow:0 2px 5px #bfbfbf;
-moz-box-shadow: 0 2px 5px #bfbfbf;
box-shadow: 0 2px 5px #bfbfbf;
*/
  margin-left:0;
  overflow-y: auto;  
  border-bottom:1px solid #d6d6d6;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  overflow:hidden;
padding:5px 0;
}

#wrapper.toggled #sidebar-wrapper {
  width: 100%;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;

    display: table;
    height: 100%;
    position: relative;

}

#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: relative;
    top: 0;
    /*width: 100%;*/
    margin: 0;
    padding: 0;
    list-style: none;
    display: table;
}

.nav>li>a:focus, .nav>li>a:hover {
color:#c1c1c1;
background-color:transparent;
}
.sidebar-nav li {
  text-indent:0;
  line-height:40px;
  margin: 0 8.5px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #FFF;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 15px;
    line-height: 50px;
    display: inline-block;
	font-weight:bold;
	color:#FFF;
	/*letter-spacing:0.5px;*/
}

.sidebar-nav>.sidebar-brand a {
  color:#FFF; /*#002b5a;*/
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #c1c1c1;
  background: none;
}
.navbar-left {float:left;}
.navbar-right{float:right;}
.navbar-nav{margin:0;line-height:50px;margin-right:15px;}

@media(min-width:768px) {
.navbar-nav>li{float:none;}
.navbar-nav>li>a { 
    padding: 7.5px 10px;
}

  #wrapper {
    padding-right:0;
	padding-top:0;
  }
  #wrapper.toggled {
    padding-top:66px;
    position: relative;
    display: table;
   height: calc(100vh - 80px);
    width: 100%;
  }
  #sidebar-wrapper {
    width:100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
#sidebar-wrapper.toggled{
height:0;
}
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}
  .navbar {
    border-radius: 0;
   }
  
}



hr {
  height: 2px;
  margin-left: 0px;
  margin-bottom:10px;
}
.hr-warning{
  background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0));
}
.hr-success{
  background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0));
}
.hr-primary{
  background-image: -webkit-linear-gradient(left, #003063, #003063, rgba(0,0,0,0));
}
.hr-danger{
  background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0));
}

table{
    table-layout: fixed;
}

@media screen and (max-width: 768px){
.sidebar-nav>.sidebar-brand {
    font-size: 15px;
}
.sidebar-nav li {margin:0 12px;}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
text-align:right;
}
.sidebar-nav{
width:100%;
text-align:center;
}
  .form-row{width:100%;}
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 30px;
    border: 2px solid #bdbdbd;
-moz-border-radius:5px ;
-webkit-border-radius:5px;
border-radius:5px;
   
  }
  table td {
    border-bottom: 1px solid #ddd;
   display: block;
    font-size: .8em;
    text-align: right;
  }
table.ui-datepicker-calendar tr{display:table-row !important;}
table.ui-datepicker-calendar td{display:table-row !important;}
  table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
