

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Пролетарский завод - внутренний портал</title>

    {% load static %}
    {% load bootstrap %}

<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->

    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js'%}"></script>
    <script src="{% static 'js/datepicker-ru.js' %}"></script>
    <script src="{% static 'js/jquery.inputmask.js' %}"></script>

    <!-- Bootstrap -->
    <!--link href="bootstrap/css/bootstrap.css" rel="stylesheet"-->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/stylesforsanctuary.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
<link rel="icon" type="image/png" href="/static/img/pzfavicon.png">
<link rel="apple-touch-icon-precomposed" href="/static/img/pzfavicon.png">
<link rel="apple-touch-startup-image" href="/static/img/pzfavicon.png">
<link href="/static/img/pzlogo.png" rel="apple-touch-icon" />
<link href="/static/img/pzlogo.png" rel="apple-touch-icon" sizes="76x76" >
<link href="/static/img/pzlogo.png" rel="apple-touch-icon" sizes="120x120">
<link href="/static/img/pzlogo.png" rel="apple-touch-icon" sizes="152x152">
</head>
<body class="black">


<div id="sidebar-wrapper">
<div class="pz-logo">
        <a href="/sanctuary/main_page" style="display: block;">
            <img src="/static/img/pzlogo.png" alt="">
        </a>
</div>
 <ul class="nav navbar-nav navbar-right">
            
                <li class="loginb">
                    <a href="/accounts/login/" id="login">
                        <span class="glyphicon glyphicon-log-in"></span> Вход</a>
                </li>
            
        </ul>

            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/sanctuary/ip_statuses"><span class="glyphicon"></span>Активность</a>
                </li>
                 <li class="sidebar-brand">
                    <a href="/sanctuary/sidebar_statistics"><span class="glyphicon "></span>Учёт работы</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/sanctuary/diagram_statistics"><span class="glyphicon "></span>Статистика</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/sanctuary/cpu_stat"><span class="glyphicon "></span>Производительность</a>
                </li>
			</ul>
        </div>


<!-- <div class="header-block"><h1 class="logo-text"></h1></div> -->

<div id="wrapper">

<div id='pagecontent'>
   

<div class="page-header">
        <h2>Учёт времени работы и ремонта</h2>
    </div>


<!------>



{% load bootstrap %}
{% load static %}
{% load has_group %}


<script type="text/javascript" src="{% static 'js/repair_statistics.js' %}"></script>



  


<div id='pagecontent'>
   

<div class="page-header">

    </div>

<div class="form-wrapper" style="padding-top: 10px; padding-bottom:30px">
     <form class="form-inline text-left act-form" method="get" style="display:table;width:100%;" data-start="{{start_interval}}" data-end="{{end_interval}}" data-area_id="{{catalog_id_param}}" data-bool="{{bool_limit}}" >
     <div class="form-row">
     <label class="required" for="workshop">Каталог:</label>
<select name="catalog_id_param" id="catalog_id_param" data-selected_id="2">
{% for x in all_catalogs %}
	<option value="none" selected disabled hidden> 
          Выберите каталог 
      </option> 
	<option style="color:#000;" value="{{ x.id }}" >{{ x }}</option>
	{% endfor %}
</select>
</div>

<div class="form-row">
<!-- <ul class=" navbar-nav navbar-left" style="width: 100%;"> -->
                {{ filter.form | bootstrap_inline }}

    
           
    <!--  <option selected="selected" value="2">Участок №5 (лопаточный) цеха №7</option>  -->
    
    
     </div> 

<div class="form-row">
<!-- <ul class=" navbar-nav navbar-left" style="width: 100%;"> -->
              
    
           
    <!--  <option selected="selected" value="2">Участок №5 (лопаточный) цеха №7</option>  -->
    
    
     </div> 



     <div class="form-row">
     <input id="sendform" type="submit" value="Применить">
     </div>
    </form>
</div>


<!-- Styles -->
<style>
#chartdiv1 {
  width: 100%;
  height: 350px;
}
</style>

<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>

function new_line(x) {
	return x.replace(/ /g,"\n");
};

am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart1 = am4core.create("chartdiv1", am4charts.XYChart);
chart1.hiddenState.properties.opacity = 0; // this creates initial fade-in

chart1.data = [

{% for x in sql_query %}
  {
    country: {% if x.ip_object_id %} new_line("{{ x.ip_object_id }}") {% endif %} ,
    visits: {{ x.count }}
  },
  {% endfor %}

];



var chart1_data_max_array=[];
for(var i=0;i<chart1.data.length;i++){
chart1_data_max_array[i] = chart1.data[i]['visits'];
}
var chart1datamax = chart1_data_max_array.reduce(function(max,arr){
return Math.max(max,arr);
},-Infinity );


var categoryAxis = chart1.xAxes.push(new am4charts.CategoryAxis());
categoryAxis.renderer.grid.template.location = 0;
categoryAxis.dataFields.category = "country";
categoryAxis.renderer.minGridDistance = 10;
categoryAxis.fontSize = 10;

var valueAxis = chart1.yAxes.push(new am4charts.ValueAxis());
valueAxis.min = 0;
valueAxis.max = chart1datamax+10;
valueAxis.strictMinMax = true;
valueAxis.renderer.minGridDistance = 30;
// axis break
var axisBreak = valueAxis.axisBreaks.create();
axisBreak.startValue = 2100;
axisBreak.endValue = 22900;
//axisBreak.breakSize = 0.005;

// fixed axis break
var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

// make break expand on hover
var hoverState = axisBreak.states.create("hover");
hoverState.properties.breakSize = 1;
hoverState.properties.opacity = 0.1;
hoverState.transitionDuration = 1500;

axisBreak.defaultState.transitionDuration = 1000;

var series = chart1.series.push(new am4charts.ColumnSeries());
series.dataFields.categoryX = "country";
series.dataFields.valueY = "visits";
series.columns.template.tooltipText = "{valueY.value}";
series.columns.template.tooltipY = 0;
series.columns.template.strokeOpacity = 0;

series.columns.template.adapter.add("fill", function(fill, target) {
  return chart1.colors.getIndex(target.dataItem.index);
});









///////////////////

}); // end am4core.ready()
</script>

<!-- HTML -->

<div id="chartdiv1"></div>

{% for x in sql_query %}

{% if x.ip_object %} <strong style="margin:0 0 10px 10px; ">{{ x.ip_object_id }}:  </strong><span style="font-size:14px;margin: 10px 20px;"> {{ x.ip_object }} </span><br>{% endif %} 


  {% endfor %}

<!--

{% for y in sql_reason_stat %}
{{ y.repairer_master_reason }}
{{ y.count }}
{% endfor %}
-->

    <script type="text/javascript">


// Copy & Paste this
Date.prototype.getUnixTime = function() { return this.getTime()/1000|0 };
if(!Date.now) Date.now = function() { return new Date(); }
Date.time = function() { return Date.now().getUnixTime(); }

//str.replace(replacement, toReplace);

        function time(x){ return new Date().getUnixTime(x) ;}
        
       $(document).ready(function () {
       $( ".gra" ).each(function( index ){

        /*var work = Math.floor(new Date().getTime($(this).data('work')) ),
        crush = Math.floor(new Date().getTime($(this).data('crush')) ),
        repair = Math.floor(new Date().getTime($(this).data('repair')) ),
        all = work;*/

        //   document.write(d.getMinutes() + ":" + d.getSeconds());

        var work = parseInt($(this).data('work')),
            crush = parseInt($(this).data('crush')),
            repair = parseInt($(this).data('repair')),
            all = work+crush+repair;

        //all = Math.floor(new Date().getTime($(this).data('all')) );
        
//all = Math.floor(new Date().getTime($(this).data('all')) ),



        work = work/all*100;
        crush = crush/all*100;
        repair = repair/all*100;
        
        $(this).find('.work').css('width',work+'%');
        $(this).find('.crush').css('width',crush+'%');
        $(this).find('.repair').css('width',repair+'%');
       }); 
   });
    </script>
</div>    




<!------>






    </form>
</div>

<script type="text/javascript">


// Copy & Paste this
Date.prototype.getUnixTime = function() { return this.getTime()/1000|0 };
if(!Date.now) Date.now = function() { return new Date(); }
Date.time = function() { return Date.now().getUnixTime(); }

//str.replace(replacement, toReplace);

        function time(x){ return new Date().getUnixTime(x) ;}
        
       $(document).ready(function () {
       $( ".gra" ).each(function( index ){

        /*var work = Math.floor(new Date().getTime($(this).data('work')) ),
        crush = Math.floor(new Date().getTime($(this).data('crush')) ),
        repair = Math.floor(new Date().getTime($(this).data('repair')) ),
        all = work;*/

        //   document.write(d.getMinutes() + ":" + d.getSeconds());

        var work = parseInt($(this).data('work')),
            crush = parseInt($(this).data('crush')),            
            all = work+crush;

        //all = Math.floor(new Date().getTime($(this).data('all')) );
        
//all = Math.floor(new Date().getTime($(this).data('all')) ),



        work = work/all*100;
        crush = crush/all*100;
        //repair = repair/all*100;
        
        $(this).find('.work').css('width',work+'%');
        $(this).find('.crush').css('width',crush+'%');
        //(this).find('.repair').css('width',repair+'%');
         $(this).parent().find('.green-block b').text((work.toFixed(2))+'%');
         $(this).parent().find('.red-block b').text((crush.toFixed(2))+'%');         

       }); 
   });
    </script>
</div>    


</div>
<div class="footer">

    <div class="footer-pz-logo-osk">
        <a href="http://www.aoosk.ru" target="_blank">
            <img src="/static/img/OSKLogo.png" alt="">
        </a>
    </div>
    <div class="footer-pz-logo">
        <a href="/">
            <img src="/static/img/pzLogo.png" alt="">
        </a>
    </div>
</div>
<script type="text/javascript">
$( document ).ready(function(){
    $('#id_start_date').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd"
    });

    $('#id_end_date').datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd"
    });


var fform = $('.act-form');
if(fform.data('area_id')){$('#catalog_id_param').val(fform.data('area_id'));}
if(fform.data('start')){$('#id_start_date').val(fform.data('start'));}
if(fform.data('end')){$('#id_end_date').val(fform.data('end'));}

/*
var urlParams = new URLSearchParams(window.location.search);
if(urlParams.toString()!=''){
if(urlParams.has('catalog_id')){
var exists = 0 != $('#catalog_id_param option[value='+parseInt(urlParams.get('catalog_id_param'))+']').length;
if(exists){$('#catalog_id_param').val(parseInt(urlParams.get('catalog_id_param')));}
}
//location.hash = urlParams.toString();
}
*/

   //$('document.body').on('change',"#catalog_id",function(e) {
   	$('#catalog_id').change(function(){
   	console.log(123);
   $('#sendform').click();   
});


});
</script>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- <script src="'bootstrap/js/bootstrap.min.js"></script> -->
</body>
</html>





