{% extends 'base.html' %}
{% load bootstrap %}
{% load bootstrap3 %}
{% load static %}
{% load googlecharts %}

{% block sidebar %}
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript" src="{% static 'js/statistics.js' %}"></script>
    {% if user.is_superuser %}
        <li class="sidebar-brand">
            <a href="/admin/"><span class="glyphicon glyphicon-cog"></span> Панель управления</a>
        </li>
    {% endif %}
{% endblock sidebar %}

{% block content %}
    <div class="page-header">
        <h3>Статистика работы</h3>
    </div>
    <div style="padding-top: 10px; padding-bottom: 50px">
        <form class="form-inline text-left" method="get">
            <ul class="nav navbar-nav navbar-left" style="margin-left: 20px">
                <li>{{ filter.form | bootstrap_inline }}</li>

                <li><button class="btn btn-primary" style="margin-left: 20px" type="submit">Применить</button></li>
            </ul>
        </form>
    </div>
    {% if statistics %}
        <hr class="hr-primary" />
        <div class="panel col-lg-12">
            <ul class="nav navbar-nav navbar-left">
                <li><b>Все предприятие</b></li>
            </ul>
            <ul class="nav navbar-right">
                <li><a id="show-hide-plant" href="#">Скрыть</a></li>
            </ul>
        </div>
        <div class="col-lg-12 toggled-pane toggled-pane-total">
            <table style="width: 100%; height: 100%">
                <tr>
                    <td width="50%">
                        <p><b>Общая статистика работы</b></p>
                        <div id="id-plant"></div>
                    </td>
                    <td>
                        <p><b>Общая статистика причин простоев</b></p>
                        <div id="id-plant-userdata"></div>
                    </td>
                </tr>
            </table>
        </div>
        {% for equip in statistics.details.keys %}
            {% if equip != 'total' %}
                <div class="col-lg-12">
                <hr class="hr-primary" /></div>
                <div class="panel col-lg-12">
                    <ul class="nav navbar-nav navbar-left show-hide-{{ forloop.counter }}">
                        <li><b>{{ equip }}</b></li>
                    </ul>
                    <ul class="nav navbar-right">
                        <li><a id="show-hide-{{forloop.counter}}" href="#">Скрыть</a></li>
                    </ul>
                </div>
                <div class="col-lg-12 toggled-pane toggled-pane-{{ forloop.counter }}">
                    <table style="width: 100%; height: 100%">
                        <tr>
                            <td width="50%">
                                <p><b>Cтатистика работы {{ equip }}</b></p>
                                <div id="id-work-{{ forloop.counter }}"></div>
                            </td>
                            <td>
                                <p><b>Cтатистика причин простоев {{ equip }}</b></p>
                                <div id="id-userdata-{{ forloop.counter }}"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            {% endif %}
        {% endfor %}

        <script type="text/javascript">
            graphicsData={{ statistics|safe }}
            colorsJSON={{ colors|safe }}
        </script>
    {% endif %}
{#    </div>#}

{% endblock %}