{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Портал ПАО "Пролетарский завод"</h1>
    </div>
<!--
    <a href="/machines" class="h2"><span class="glyphicon glyphicon-scale"></span> Мониторинг оборудования</a>
-->
<div class="main-menu-wrapper">
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines"><img src="static/img/pzmonitor.png" alt="123"/><span>Мониторинг оборудования</span></a></div></div>
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines/stats"><img src="static/img/pzstatistic.png" alt="123"/><span>Статистика простоев</span></a></div></div>
{% if user.is_superuser %}
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/admin/"><img src="static/img/pzapanel.png" alt="123"/><span>Панель управления</span></a></div></div>
{% endif %}
</div>

{% endblock content %}