{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
        <h1>Портал ПАО "Пролетарский завод"</h1>
    </div>
<!--
    <a href="/machines" class="h2"><span class="glyphicon glyphicon-scale"></span> Мониторинг оборудования</a>
-->
<div class="main-menu-wrapper">
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines"><img src="https://image.flaticon.com/icons/png/512/83/83660.png" alt="123"/><span>Мониторинг оборудования</span></a></div></div>
<div class="main-menu-block"><div class="inner-main-menu-block"><a href="/machines/stats"><img src="https://image.flaticon.com/icons/png/512/95/95347.png" alt="123"/><span>Статистика простоев</span></a></div></div>
</div>

{% endblock content %}