{% extends 'assembly_base.html' %}

{% block content %}
{% if user.is_authenticated %}
    {% for group_for in user.groups.all %}
            {% if group_for.id == 4 %}
<form method="post"  class="act-form act-form-fixed">

{% csrf_token %}

<label for="id_description">Обозначение:</label>
{{ form.description }}

<label for="id_name">Наименование работ:</label>
{{ form.name }}

<label for="id_order">Заказ на производство:</label>
{{ form.order }}

<label for="id_date">Срок:</label>
{{ form.date }}

<label for="id_laboriousness">Трудоемкость в часах:</label>
{{ form.laboriousness }}

<label for="id_subdivision">Подразделение:</label>
{{ form.subdivision }}



<input name="creator" id="id_creator" type="hidden" readonly="true" value="{% if user.is_authenticated %}{{ user.id }}{% else %}None{% endif %}" /> 

<input type="submit" value="Применить"/>

</form>
{% else %}
<script type="text/javascript">window.location.href = '/accounts/login/'; </script>
            {% endif %}
    {% endfor %}
{% endif %}
{% endblock content %}